<nav role="navigation" class="nav">
  <div class="nav-logo">
    <a href="#">
      <img src="assets/logo.png" alt="Visa logo">
    </a>
  </div>
  <ul class="main-nav">
    <li class="main-nav__list">
      <a class="main-nav__anchor" ng-click="showSubNav($event, 'item1')">Pay With Visa</a>
      <div class="sub-nav" ng-class="{'sub-nav--show': items[0].selected && items[0].toggle}">
        <div class="arrow" ng-style="{left: items[0].arrowPosition + 'px'}"></div>
        <!-- <subnav></subnav> -->
        <ul class="sub-nav__list">
          <li>
            <a href="#">
              <i class="fa fa-cc-visa"></i>
              <span>Visa Checkout</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-credit-card"></i>
              <span>Find a Card</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-dollar"></i>
              <span>Visa Offers + Perks</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-mobile-phone"></i>
              <span>Mobile Payments</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lightbulb-o"></i>
              <span>Payment Technology</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="main-nav__list">
      <a class="main-nav__anchor" ng-click="showSubNav($event, 'item2')">Partner With Us</a>
      <div class="sub-nav" ng-class="{'sub-nav--show': items[1].selected && items[1].toggle }">
        <div class="arrow" ng-style="{left: items[1].arrowPosition + 'px'}"></div>
        <ul class="sub-nav__list">
          <li>
            <a href="#">
              <i class="fa fa-cc-visa"></i>
              <span>Visa Ready</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-mobile-phone"></i>
              <span>Payment Technology</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cubes"></i>
              <span>Visa Developer</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-handshake-o"></i>
              <span>Info for Partners</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-line-chart"></i>
              <span>Visa Performance Solutions</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    </li>
    <li class="main-nav__list">
      <a class="main-nav__anchor" ng-click="showSubNav($event, 'item3')">Run Your Business</a>
      <div class="sub-nav" ng-class="{'sub-nav--show': items[2].selected && items[2].toggle }">
        <div class="arrow" ng-style="{left: items[2].arrowPosition + 'px'}"></div>
        <ul class="sub-nav__list">
          <li>
            <a href="#">
              <i class="fa fa-cc-visa"></i>
              <span>Accept Visa Payments</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              <span>Small Business Tools</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-building"></i>
              <span>Commercial Solutions</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    </li>
    <li class="main-nav__list">
      <a class="main-nav__anchor" ng-click="showSubNav($event, 'item4')">Visa Everywhere</a>
      <div class="sub-nav" ng-class="{'sub-nav--show': items[3].selected && items[3].toggle }">
        <div class="arrow" ng-style="{left: items[3].arrowPosition + 'px'}"></div>
        <ul class="sub-nav__list">
          <li>
            <a href="#">
              <i class="fa fa-lightbulb-o"></i>
              <span>Visa Innovations</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lock"></i>
              <span>Security</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Global Impact</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-credit-card "></i>
              <span>About Visa</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="main-nav__mobile-list">
      <i class="fa fa-bars"></i>
    </li>
    <li class="nav-search" >
      <div class="division">&nbsp;</div>
      <a ng-click="showSubNav($event, 'item5')">
        <i class="fa fa-search nav-search__parent-icon"></i>
      </a>
      <div class="sub-nav" ng-class="{'sub-nav--show': items[4].selected && items[4].toggle }">
        <div class="arrow" ng-style="{left: items[4].arrowPosition + 'px'}"></div>
        <div class="search-form">
          <input type="text" class="search-form__input" name="" value="" placeholder="Search Visa">
          <i class="fa fa-search search-form__icon"></i>
          <button type="button" name="button" class="search-form__submit">GO</button>
        </div>
        <div class="search-common">
          <a href="#">Common Searches</a>
        </div>
      </div>
    </div>
  </ul>
</nav>
<div class="nav-line">
  &nbsp;
</div>
